---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import BackToPrev from "@components/BackToPrev.astro";
import Link from "@components/Link.astro";

export async function getStaticPaths() {
  const projects = (await getCollection("projects"))
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}
type Props = CollectionEntry<"projects">;

const project = Astro.props;
const { Content } = await project.render();
---

<PageLayout title={project.data.title} description={project.data.description}>
  <Container>
    <div class="animate">
      <BackToPrev href="/projects">
        Back to projects
      </BackToPrev>
    </div>
    <div class="space-y-1 my-10">
      <div class="animate flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={project.data.date} />
        </div>
      </div>
      <div class="animate text-2xl font-semibold text-black dark:text-white">
        {project.data.title}
      </div>
        <nav class="animate flex gap-1">
          {project.data.URL && (
            <Link href={project.data.URL} external>
              Live Project 
            </Link>
          )}
          {project.data.URL && project.data.githubURL && (
            <span>/</span>
          )}
          {project.data.githubURL && (
            <Link href={project.data.githubURL} external>
              Github
            </Link>
          )}
        </nav>
    </div>
    <article>
      <Content />
      <div class="text-sm text-gray-700 dark:text-gray-200 mb-4">
        <b>Technologies Used:</b> {project.data.technologies.join(", ")}.
      </div>
      <iframe 
        class="w-full h-80"
        src={project.data.embedYT}
        title="YouTube video player" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
      </iframe>
    </article>
  </Container>
</PageLayout>
